.trade-main-conatiner {
  padding: 160px 0px;
}
.trade-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.start-trade-header {
  font-size: 132.195px;
  font-weight: 700;
  letter-spacing: -2.783px;
  background: linear-gradient(
    177deg,
    #fff 2.77%,
    rgba(255, 255, 255, 0) 139.85%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start-trading-btn {
  width: 875.967px;
  height: 142.632px;
  background: linear-gradient(
    269deg,
    #d4f938 38.89%,
    rgba(50, 216, 117, 0.96) 103.19%
  );
  display: flex;
  width: 866.226px;
  height: 134.978px;
  padding: 11.132px 33.397px;
  justify-content: center;
  align-items: center;
  gap: 6.958px;
  flex-shrink: 0;
  color: #000;
  font-size: 38.267px;
  font-weight: 700;
  position: relative;
  bottom: 350px;
  border: none;
  box-shadow: 0px 0px 16px #a8ef9c;
}
.start-trade-image{
    position: relative;
    bottom: 100px;
}