.mobile-container {
  display: flex;
  padding: 120px 0px 240px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  align-self: stretch;
  position: relative;
}
.mobile-section {
  height: 560px;
  width: 273px;
  position: relative;
  
}
.graphimage {
  width: 130px;
  height: 185px;
  position: absolute;
  left: 60px;
  top: 90px;
}
.coinimage {
  width: 65px;
  height: 70px;
  position: absolute;
  left: 99px;
  top: 140px;
}
.mobile-graph-content {
  width: 170px;
  height: 121px;
  color: white;
  text-align: center;
  font-size: 33.501px;
  font-weight: 300;
  line-height: 40.201px;
  letter-spacing: -0.799px;
  position: absolute;
  left: 52px;
  bottom: 124px;
}
.ellipse-left {
  position: absolute;
  top: 330px;
  left: 0px;
  width: 2.7px;
  height: 17.3px;
  background-color: #daf760;
  filter: blur(2.4px);
}
.ellipse-right {
  position: absolute;
  top: 105px;
  right: 0px;
  width: 2.7px;
  height: 24px;
  background-color: #daf760;
  filter: blur(2.4px);
}
.mobile-coin-content{
    width: 151px;
    height: 121px;
    color: white;
    text-align: center;
    font-size: 33.501px;
    font-weight: 300;
    line-height: 40.201px;
    letter-spacing: -0.799px;
    position: absolute;
    left: 61px;
    bottom: 155px;
}
.mobile-step-content{
    width: 177px;
    height: 81px;
    color: white;
    text-align: center;
    font-size: 33.501px;
    font-weight: 300;
    line-height: 40.201px;
    letter-spacing: -0.799px;
    position: absolute;
    left: 48.5px;
    bottom: 205px;
}
.stepimage{
    width: 76px;
  height: 67px;
  position: absolute;
  left: 100px;
  top: 144px;
}